.Box {
  display: flex;

  & > .BoxItem-expand {
    flex-grow: 1;
  }

  &.Box-orientation-horizontal {
    flex-direction: row;
    &.Box-reverseChildren {
      flex-direction: row-reverse;
    }

    overflow-x: hidden;
    &.Box-scroll {
      overflow-x: auto;
    }

    & > .BoxItem-expand {
      width: 0;
    }
  }

  &.Box-orientation-vertical {
    flex-direction: column;
    &.Box-reverseChildren {
      flex-direction: column-reverse;
    }

    overflow-y: hidden;
    &.Box-scroll {
      overflow-y: auto;
    }

    & > .BoxItem-expand {
      height: 0;
    }
  }
}
