@use '../theme.scss';

button {
  font-family: unset;
  font-size: unset;
  line-height: unset;
  border: unset;
  margin: unset;
  padding: unset;
  background-color: unset;
  color: unset;
  text-align: unset;

  &.block {
    display: block;
    width: 100%;
  }
}

.IconButton {
  padding: theme.$spacing;
  cursor: pointer;
  font-size: 18px;
  color: theme.$icon-fg;

  // &:disabled {
  //   color: theme.$disabled-fg;
  // }

  &:hover {
    background-color: theme.$toolbar-hover-bg;
  }

  &:active > .Icon {
    transform: scale(1.2);
  }
}
