@use '../theme.scss';

.EditorTabList {
  background-color: theme.$side-bar-bg;
}

.EditorTab {
  padding: theme.$spacing * 2;
  color: theme.$tab-inactive-fg;
  background-color: theme.$tab-inactive-bg;
  border-right: 1px solid;
  border-color: theme.$tab-border;
  cursor: pointer;

  &.EditorTab-active {
    color: theme.$tab-active-fg;
    background-color: theme.$tab-active-bg;
  }

  .Icon {
    color: inherit;
  }

  $close-normal-scale: 1.5;
  $close-pressed-scale: $close-normal-scale * 1.2;
  > .EditorTab-Close {
    transform: scale($close-normal-scale);
    opacity: 0.3;
  }
  &.EditorTab-closeable > .EditorTab-Close {
    opacity: unset;
    &:hover {
      color: #f48771;
    }
    &:active {
      transform: scale($close-pressed-scale);
    }
  }
}
