@import '../common.scss';

@include app-styles {
  .Editor {
    background-color: $color-Editor;
  }

  .EditorTabList {
    background-color: $color-EditorTabList;
  }

  .EditorTab {
    padding: $spacing * 2;
    color: $color-EditorTab-inactive-fg;
    background-color: $color-EditorTab-inactive;
    cursor: pointer;

    &.EditorTab-active {
      color: $color-EditorTab-active-fg;
      background-color: $color-EditorTab-active;
    }

    > .Icon.Icon-x {
      transform: scale(1.5);

      &:hover {
        color: #f48771;
      }

      &:active {
        transform: scale(1.5 * 1.2);
      }
    }
  }

  .FragmentList {
    padding: $spacing * 2;

    > *:not(:first-child) {
      padding-top: $spacing * 2;
    }
    > *:not(:last-child) {
      padding-bottom: $spacing * 2;
      border-bottom: $spacing solid rgba(#ffffff, 0.1);
    }
  }

  .Fragment {
    font-size: (18em / 16);

    $spacing-Fragment: $spacing;

    .Fragment-TextBlock {
      white-space: pre-wrap;
      background-color: #252526;
      padding: $spacing-Fragment;
    }

    > *:not(:last-child) {
      margin-bottom: $spacing-Fragment;
    }

    .Fragment-Columns > *:not(:last-child) {
      margin-right: $spacing-Fragment;
    }

    .Fragment-Location > *:not(:last-child) {
      margin-right: 1em;
    }

    .Fragment-Translations > *:not(:last-child) {
      margin-bottom: $spacing-Fragment;
    }

    .Fragment-Translation {
      > .Fragment-Buttons {
        align-items: baseline;
        > .Label:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }
}
