@import '../theme.scss';

.Editor {
  background-color: $color-Editor;
}

.EditorTabList {
  background-color: $color-EditorTabList;
}

.EditorTab {
  padding: $offset-normal * 2;
  color: $color-EditorTab-inactive-text;
  background-color: $color-EditorTab-inactive;
  cursor: pointer;

  &.EditorTab-active {
    color: $color-EditorTab-active-text;
    background-color: $color-EditorTab-active;
  }
}
