@use '../theme.scss';

.Explorer {
  background-color: theme.$side-bar-bg;
  min-width: 300px;
  max-width: 300px;
}

.Explorer-Header {
  padding: (theme.$spacing * 2) theme.$spacing;
  color: theme.$tab-active-fg;
}

.ExplorerSection:not(:last-child) {
  border-bottom: 1px solid theme.$side-bar-section-border;
}

.ExplorerSection-Name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(15em / 16);
}

.TreeItem {
  padding: theme.$spacing;
  padding-left: calc(#{theme.$spacing} + var(--TreeItem-depth, 0) * #{theme.$spacing} * 2.5);
  cursor: pointer;
}
