@import '../common.scss';

@include app-styles {
  .Icon {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .Icon,
  .IconlikeText {
    color: $color-Icon-fg;
    user-select: none;
  }
}
