@import '../common.scss';

@include app-styles {
  .Label-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Label-selectable {
    user-select: text;
  }

  .Label-whitespace-preserve {
    white-space: pre-wrap;
  }
}
