@import '../theme.scss';

.ProjectTree {
  background-color: $color-ProjectTree;
  min-width: 300px;
  max-width: 300px;
}

.ProjectTree-Header {
  padding: ($offset-normal * 2) $offset-normal;
  color: $color-EditorTab-active-text;
}

.ProjectTreeSection:not(:last-child) {
  border-bottom: 1px solid rgba($color-text-normal, 0.2);
}

.ProjectTreeSection-Name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: (15em / 16);
}

.ProjectTreeItem {
  padding: $offset-normal;
  padding-left: calc(#{$offset-normal} + var(--ProjectTreeItem-depth, 0) * #{$offset-normal} * 2);
  cursor: pointer;

  &:hover {
    background-color: $color-ProjectTreeItem-hover;
  }

  &:focus {
    background-color: $color-ProjectTreeItem-focus;
    outline: none;
  }
}
