@use '../theme.scss';

textarea,
input {
  // reset the browser styles
  font-family: unset;
  font-size: unset;
  line-height: unset;
  border: unset;

  display: block;
  width: 100%;
  resize: none;
  overflow: hidden;

  padding: theme.$spacing;
  background-color: theme.$input-bg;
  color: theme.$input-fg;

  &::placeholder {
    color: theme.$input-placeholder-bg;
  }
}

// Taken from <https://stackoverflow.com/a/4298216/12005228>
input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type='number'],
input[type='search'] {
  -moz-appearance: textfield;
}

// Taken from <https://github.com/necolas/normalize.css/issues/171>
input[type='search'] {
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
