@import '../common.scss';

@include app-styles {
  textarea,
  input {
    // reset the browser styles
    font-family: unset;
    font-size: unset;
    line-height: unset;
    border: unset;

    display: block;
    width: 100%;
    resize: none;
    overflow: hidden;

    padding: $spacing;
    background-color: $color-TextArea-bg;
    color: $color-TextArea-fg;

    &::placeholder {
      color: $color-TextArea-placeholder-fg;
    }
  }
}
