$offset-normal: 6px;

$color-text-normal: #cccccc;
$color-StatusBar: #007acc;
$color-StatusBar-text: #ffffff;
$color-FileTreePane: #252526;
$color-Editor: #1e1e1e;
$color-EditorTabList: $color-FileTreePane;
$color-EditorTab-active: $color-Editor;
$color-EditorTab-active-text: #ffffff;
$color-EditorTab-inactive: #2d2d2d;
$color-EditorTab-inactive-text: #969696;
