$spacing: 6px;

$color-fg: #cccccc;
$color-Icon-fg: #c5c5c5;
$color-focus-outline: #007fd4;
$color-Link-fg-hover: #3794ff;
$color-Link-fg: mix($color-Link-fg-hover, $color-fg, 60%);
$color-StatusBar: #007acc;
$color-StatusBar-fg: #ffffff;
$color-ProjectTree: #252526;
$color-ProjectTreeItem-hover: #2a2d2e;
$color-ProjectTreeItem-focus: #094771;
$color-Editor: #1e1e1e;
$color-EditorTabList: $color-ProjectTree;
$color-EditorTab-active: $color-Editor;
$color-EditorTab-active-fg: #ffffff;
$color-EditorTab-inactive: #2d2d2d;
$color-EditorTab-inactive-fg: #969696;
